@charset "ISO-8859-1";

body
{

background-image: url("https://w7.pngwing.com/pngs/729/367/png-transparent-vtu-engineering-deutschland-gmbh-pharmaceutical-industry-company-profile-text-trademark-people.png");
background-repeat: no-repeat;
  background-size: cover;
} 
.container
{
text-align:center;
background-color:purple;
text-color:green;
height:500px;
width:500px;
left : 25%;
right : 50%;
position:relative;

} 

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}