@charset "ISO-8859-1";

body
{

background-image: url("https://english.cdn.zeenews.com/sites/default/files/styles/zm_700x400/public/2018/02/08/659102-vtu2970.jpg");
background-repeat: no-repeat;
  background-size: cover;
} 